.square {
  width: 30%;
  float: left;
  padding-bottom: 30%;
  margin: 1.66px;
}
body {
  background-color: #232323;
}
.square {
  background-color: aliceblue;
}
#container {
  width: 600px;
  margin: 0 auto;
}
h1 {
  color: blanchedalmond;
}

#stripe {
  width: 25px;
  text-align: center;
  color: black;
  background-color: white;
}
